<div style="max-width: 75ch;">
  <p>Dear <%= @user.name.titlecase %>,</p>
  
  <p style="text-indent: 32px">
    <span style="font-weight: 700;">Welcome to FriendsZone</span> - the ultimate social media platform for connecting with your friends and loved ones! We're thrilled to have you on board and can't wait to see you start exploring all that our platform has to offer.
  </p>
  
  <p style="text-indent: 32px">
    We hope you find FriendsZone to be a fun and easy-to-use social media platform. FriendsZone allows you to easily search for and connect with your friends. Once you're connected, you can see what they're up to and stay in touch.
  </p>
  
  <p style="text-indent: 32px">
    Thank you for joining FriendsZone - we can't wait to see what you share and discover on our platform!
  </p>
</div>
