<div class="bg-white mx-auto py-5 mb-3 | sm:max-w-2xl">
  <h2 class="font-bold text-center | sm:text-lg">Notifications</h2>
</div>

<div class="max-w-2xl w-11/12 mx-auto pb-5 space-y-3">
  <% @notifications.each do |notif| %> 
    <div class="flex flex-col gap-y-4 bg-white px-4 py-6 shadow rounded-lg mb-3 font-bold | sm:flex-row sm:items-center">
      <h3 class="flex-1"><%= notif_message(notif) %></h3>
      <div class="text-xs">
        <p><%= get_notif_date(notif) %></p>
        <p><%= get_notif_time(notif) %></p>
      </div>
    </div>
  <% end %>
</div>
