<div class="max-w-md w-11/12">
  <%= button_to "Add Friend", friends_path(friend: { friend_id: user.id }), data: { test_id: "add-friend-btn-#{dom_id(user)}" }, class: "w-full py-2 rounded-full bg-slate-900 text-white text-sm font-bold hover:bg-slate-800" %>
</div>