<% if sender(current_user, user) %>
  <div class="max-w-md w-11/12">
    <%= button_to "Cancel Request", friend_path, method: :delete, data: { test_id: "cancel-request-btn-#{dom_id(user)}" }, class: "w-full py-2 rounded-full bg-red-600 text-white text-sm font-bold hover:bg-red-700" %>
  </div>
<% else %>
  <div class="max-w-md w-11/12">
    <%= button_to "Add Friend", friends_path(friend: { friend_id: user.id }, target_url: user_path(user)), data: { test_id: "add-friend-btn-#{dom_id(user)}" }, class: "w-full py-2 rounded-full bg-slate-900 text-white text-sm font-bold hover:bg-slate-800" %>
  </div>
<% end %>
